<div class="container">
  <h2>Pomiar temperatury i wilgotności powietrza</h2>
  <p *ngIf="!temperature">Brak połączenia z serwerem</p>
  <table *ngIf="temperature" class="table">
    <thead>
      <tr>
        <th>Temperatura</th>
        <th>Wilgotność</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{temperature.temperature}}</td>
        <td>{{temperature.humidity}}%</td>
        <td>{{temperature.date | date:'HH:mm:ss dd.MM.yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>
