<div *ngIf="data">
  <ul>
    <li *ngFor="let reading of data">Temperatura {{reading.temperature}}, wilgotność: {{reading.humidity}}, data: {{reading.date | date:'HH:mm:ss dd.MM.yyyy'}}</li>
  </ul>
</div>
<button (click)="update()">Update</button>